/*.home {
  background-color: rgb(242, 242, 104);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  color: #da3c3c;
  text-shadow: 2px 2px 4px rgba(172, 125, 223, 0.92);
  padding: 50px;
}
