@import "tailwindcss";
/* *{
  margin: 0px;
  padding: 0px;
} */

.navbar {
  display: flex;
  background: white;
  padding: 10px;
  padding-left: 1100px;
  color: rgb(207, 191, 84);
}

.links a {
  color: rgb(147, 24, 24);
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}

.links a:hover {
  text-decoration: underline;
}
